include "template"
render block nav("intro")
append block body
	.page-header
		h1
			span MathForm
			<span.small Introduction
	p
		| MathForm is a simple mashup to add mathematical formula input to online forms.